melon_data/
test/
7-9-17/
7-10-17/
backup/
results/
settings.json

*.o
*.dSYM
*.csv
*.out
*.png
*.jpg
*.pyc
old/
mnist/
data/
caffe/
grasp/
images/
opencv/
convnet/
decaf/
submission/
cfg/
darknet*
.fuse*
*.avi
*.weights
*.list
*.a
*.so

# OS Generated #
.DS_Store*
ehthumbs.db
Icon?
Thumbs.db
*.swp
